name: Trigger auto deployment for my-new-docker-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/my-new-docker-app-AutoDeployTrigger-e0a873d4-6044-4294-8b1d-1f28319256da.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MYNEWDOCKERAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MYNEWDOCKERAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MYNEWDOCKERAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.MYNEWDOCKERAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MYNEWDOCKERAPP_REGISTRY_PASSWORD }}
          containerAppName: my-new-docker-app
          resourceGroup: DefaultResourceGroup-JNB
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


